/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	@include font-size(1.4);
	font-display: swap;
	font-family: Avanti; 
}


.header,
.header-scrolled{
	.sisea-search-form{
		display: none;
		background-color: #666;
		border-radius: .5rem;
		padding: .8rem 1.5rem;
		position: absolute;
		right: 0;
		top: 50px;

		.form-control{
			@include placeholder(#fff);
			background: none;
			border: none;
			border-right: 1px solid #ddd;
			color: #fff;
			font-size: 1.6rem;
			width: 24rem;
		}
		.submit{
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAATCAMAAACnUt2HAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABF1BMVEXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSXwVSX///9N5SydAAAAW3RSTlMAAlWr3Pbx1p4+ONPsr5CTurwgX/jnZQUNf/U6RPzLFi7m7yEJ4hgy+WFgjy+17SyA4eutpdTDrrYrhWKO/uQVMbJHyhQcY336WsA70f1rpvPXmj0RxQq3jAajNQlXNQAAAAFiS0dEXOrYAJcAAAAHdElNRQfjBBsRFAwUYOfrAAAAyklEQVQY02NgAAJGJmYWVjZ2Dk4GBODijubh5eMXYI0WFIKJCYuIiomDGBKSUjzSEDEZWTl5mLyCopIyiFZRVVRDmKSuIQCiNKO1kIxn0I7WAZK6euLIgvrRBkDSUJABBRgZAwkpE1RBUzNsKs2BhAWqmZbRVkDSOloYWdDGVgfsTjt7hJiDiCOYdpJ1doFrttNzhbC0NOzcIH53l4r28ITKS5tGG0FCycvbx9cPKsrI5K/qGxAYFMzAEBIa7c6AAcLCoyMwRSOjAgHHrBmG1xrhngAAAABJRU5ErkJggg==") no-repeat center;
			border: none;
			cursor: pointer;
			filter: grayscale(1) brightness(5);
			height: 3rem;
			margin-left: .5rem;
			transition: filter .3s;
			width: 3rem;
			&:hover{
				filter: none;
			}
		}
	}
	.right{
		position: relative;
		&.search-show{
			.sisea-search-form{
				display: block;
			}
		}		
	}	
}

.header{
	background: url(../images/bg-1.jpg) no-repeat center top;
	background-size: cover;	
	padding-bottom: 4.2rem;

}



.webp{
	.header{
		background-image: url(../images/bg-1.webp);
	}
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.d-grid{
	display: flex;
}

.main-grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}

@supports (display:grid) {
	.d-grid{
		display: grid;
	}
	.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
							 "main"
							 "footer";
		grid-template-rows: auto 1fr auto;
	}
}



.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
a{color:#020000; transition: .3s}
h1{font-size:3rem; font-weight: 400;}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

p{
	line-height: 1.8;
	a{
		color: $color4;
		border-bottom: 1px dashed rgba(0,0,0,0);
		&:hover{
			border-bottom-color: $color4;
			color: $color4;
			text-decoration: none;
		}
	}
}

.ucase{
	text-transform: uppercase;
}

.regular{
	font-family: "SegoeUIRegular";	
}
.underline{
	position: relative;
	&:after{
		@extend .before;
		border-bottom: 2px solid $color4;
		left: 0;
		bottom: -10px;
		width: 100%;
	}
}



.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0
}

.d-center{
	margin-left: auto;
	margin-right: auto;
}


.rotate180{
	transform: rotate(180deg);
}

.btn{
	align-items: center;
	border-radius: 46px;
	border: none;
	cursor: pointer;
	display: flex;
	font-size: 1.5rem;
	height: 46px;
	justify-content: center;
	margin-top: 2.5rem;
	width: 190px;
	transition: .3s;
	&:hover{
		color: $color2;
		text-decoration: none;
	}

	&-white{
		color: $color6;
		border: 1px solid;
	}

	&-gray{
		background-color: $color5;
		color: $color2;
	}

	&-orange{
		background-color: $color4;
		color: $color2;
		text-decoration: none;
	}

	&-hover{
		&-orange{
			&:hover{
				background-color: $color4;
				color: $color2;
				text-decoration: none;
			}
		}
		&-gray{
			&:hover{
				background-color: $color6;
				color: $color2;
				text-decoration: none;
			}
		}
	}

	&-wauto{
		border-radius: 3rem;
		display: inline-flex;
		height: 3rem;
		padding: 0 1.6rem;
		text-align: center;
		width: auto;
	}
	&-inline{
		background: none;
		border: none;
		height: auto;	
		line-height: 1;	
		padding: 0;	
		color: $color4;
		border-bottom: 1px dashed rgba(0,0,0,0);
		cursor: pointer;	
		&:hover{
			border-bottom-color: $color4;
		}

	}
}


/* =header
---------------------------*/
.header{
	padding-top: 4.2rem;
	.tel{
		font-size: 3rem;
	}
	&__left{
		padding-top: 4rem;
		p{
			line-height: 1;			
		}
	}
	.btn-order-callback{
		line-height: 1.2;
		margin-top: .5rem;
	}
	.right{
		padding-top: 2rem;
	}
}


.bodyFixed{
	.header-scrolled{
		transform: translateY(0);
	}
}

.header-scrolled{
	background: rgba(255,255,255,.8);
	box-shadow: 0 0 15px #ccc;
	left: 0;
	padding: 1.2rem 0;
	position: fixed;
	transition: .4s;
	top: 0;

	transform: translateY(-100px);
	width: 100%;
	z-index: 999;
	.navmenu{
		margin-top: 0;
	}

	.logo{
		background: url(../images/gradline.png) no-repeat right center;
		text-align: center;
		transition: filter .3s;
		width: 145px;
		&:hover{
			filter: grayscale(1)
		}
	}

	.folder{
		&:hover{
			.subnav{
				display: block;
				left: -190px;
			}
		}
	}
	.subnav{
		display: none;
	}
}

.btn-icon{
	background-color: transparent;
	border: none;
	cursor: pointer;
	filter: grayscale(1) brightness(5) invert(1);
	transition: filter .3s;
	&:hover{
		filter: none;
	}
}

.btn-search{
	@include sprite($icon-search);
	padding: 0;
	&-close{
		@include sprite($icon-close);
	}
}

.btn-str{
	background: none;
	border: none;
	border-bottom:1px dashed $color4;
	cursor: pointer;
	padding: 0;
	&:hover{
		border-bottom-color: rgba(0,0,0,0);
	}
}

.btn-order-callback{
	color: $color4;
}

/* =/header
---------------------------*/



/* =navigation
---------------------------*/
.navmenu{
	margin-top: 5rem;
	.nav{
		display: flex;
		justify-content: center;
		font-size: 1.6rem;
		position: relative;

		& > li{
			margin: 0 .6rem;
			& > a{
				border-radius: 4rem;
				padding: 1rem 2rem;
				&:hover{
					background-color: $color4;
					color: $color2;
					text-decoration: none;
				}
			}
			&.active > a, span{
				background-color: $color4;
				color: $color2;				
			}
			&:hover{
				& > a{
					background-color: $color4;
					color: $color2;
					text-decoration: none;					
				}
			}
			&.folder{
				&:hover{
					.subnav{
						opacity: 1;
						z-index: 100;
					}
				}
			}
		}
	}


	.subnav{
		font-size: 1.5rem;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 30px;
		transition: .3s;
		width: 100%;
		z-index: -10;
		.wrapper{
			background: $color9;
			border-radius: 1rem;
			margin: 0.8rem auto 0;
			padding: 1.2rem 1.8rem;
			width: 1160px;
		}

		ul{
			display: flex;
			flex-wrap: wrap;
			li{
				margin: .2rem 0;
				width: 16.6%;
			}
		}
		a{
			color: $color2;
			border-bottom: 1px dashed rgba(0,0,0,0);
			&:hover{
				border-bottom-color: $color2;
				text-decoration: none;
				cursor: pointer;
			}
		} 
	}
}
/* =/navigation
---------------------------*/


/* =main
---------------------------*/

.main{
	aside{
	}
}


.tab-content {
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}



.center-block{
	margin-left: auto;
	margin-right: auto;
}




/* =footer
---------------------------*/
.footer{
	background: url(../images/footer-bg.jpg) no-repeat center top;
	background-size: cover;
	padding-top: 4rem;
	line-height: 2.2;
	.title{
		font-size: 1.6rem;
		font-weight: bold;
		padding-bottom: 1.5rem;
		text-transform: uppercase;
	}

	.column{
		.wrapper{
			border-left: 1px solid #d3d3d3;			
		}
		&:first-child{
			.wrapper{
				border-left: none;
				padding-left: 0;
			}
		}
		.wrapper{
			padding: 0 3rem;
		}
		a{
			border-bottom: 1px dashed rgba(0,0,0,0);
			&:hover{
				color: $color4;
				border-bottom-color: $color4;
				text-decoration: none;
			}
		}
	}

	.menu-products{
		li{
			width: 50%
		}
	}


	a.dashed{
		color: $color4;
		border-bottom: 1px dashed $color4;
		&:hover{
			border-bottom-color: rgba(0,0,0,0);
		}
	}

	.bottom{
		border-top: 1px solid #d3d3d3;
		margin-top: 2.5rem;
		position: relative;
	}

	.social{
		a{
			align-items: center;
			background: $color2;
			border-radius: 50%;
			border: none;
			display: flex;
			height: 38px;
			justify-content: center;
			margin-right: 1rem;
			margin-bottom: 1rem;
			width: 38px;
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				border: none ;
				background-color: $color4;
				img{
					filter: brightness(5);
				}
			}
		}
	}

	.copyright{
		padding: 1.5rem;
	}

	.copyright,
	.creators{
		padding-top: 1.5rem;
	}

	.shadow{
		position: relative;
		&:before{
			@extend .before;
			background: url(../images/shadow.png) no-repeat left top;
			height: 28px;
			top: 0;
			width: 495px;
		}
		&-right{
			&:before{
				background-position: left top;
				left: -250px;
				transform: scaleX(-1);
			}
		}		
	}
}

.webp{
	.footer{
		background-image: url(../images/footer-bg.webp);
	}
}


.creators{
	position: relative;
}
.creators-wrapper{
	position: absolute;
	bottom: 0;
	right: 0;
	a{
		align-items: center;
		background-color: $color2;
		border-bottom: none;
		border-radius: 15px 15px 0 0;
		display: block;
		display: flex;
		height: 4rem;
		justify-content: space-between;
		padding: 0 4rem;
		width: 23rem;
		img{
			transition: filter .3s;
		}
		&:hover{
			background-color: $color4;
			color: $color2;
			text-decoration: none;
			img{
				filter: grayscale(1) invert(1) brightness(5);
			}
		}
	}
}
/* =/footer
---------------------------*/


#callback{
	padding-right: 0 !important;
	.modal-dialog{
		max-width: 100% !important;
		width: 100% !important;
	}

	.form-control{
		border: none;
		border-radius: 3rem;
		display: block;
		height: 3rem;
		text-align: center;
		width: 100%;
	}
}

.modal-dialog{
	.modal-content{
		background: #ececec;
	}
	.modal__body{
		margin-left: auto;
		margin-right: auto;
		max-width: 1100px;
		padding: 3rem 0;
		width: 100%;
	}

	.title{
		font-size: 3rem;
		text-align: center;
	}

	.form-control{
		font-size: 1.8rem;
		margin-top: 1.8rem;
	}
}


.dashed{
	text-decoration: none;
	color: $color4;
	border-bottom: 1px dashed $color4;
	&:hover{
		border-bottom-color: rgba(0,0,0,0);
		color: $color4;
		text-decoration: none;
	}
}

.modal{
	.close-modal{
		background: $color4;
		border-radius: 30px;
		border: none;
		cursor: pointer;
		display: block;
		height: 30px;
		left: 50%;
		margin-left: -23px;
		position: absolute;
		top: -20px;
		width: 46px;
		line{
			stroke-width: 4px;
			stroke: $color2;
		}
		svg{
			transition: transform .3s;
		}
		&:hover{
			svg{
				transform: rotate(45deg)
			}
		}
	}

	.form-control{
		&:disabled{
			background-color: #e0dbdb;
		}
	}

	.submit{
		height: 3rem;
		&:disabled{
			background-color: #ccc;
			cursor: default;
		}
	}

	.policy{
		margin-top: 2.8rem;
	}
}


.user-access + label {
  cursor: pointer;
  color: $color3;
}

.user-access:not(checked) {
  position: absolute;
  opacity: 0;
}
.user-access:not(checked) + label {
  display: block;
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 46px;
	height: 30px;
	border: 1px solid $color4;
	background-color: $color4;
  	border-radius: 30px;
}

/* Меняем фон чекбокса, когда он включен. */
.user-access:checked + label:before {
	border-color: $color4;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
	content: '*';
	color: $color2;
	position: absolute;
	font-style: normal;
	top: -8px;
	left: 15px;
	width: 22px;
	height: 22px;
	font-size: 3.6rem;
	border-radius: 3px;

}