/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{

	@include font-size(1.4);
	font-display: swap;
	font-family: Avanti; 
	// height: 100vh;
}




.header{
	background: url(../images/bg-1.jpg) no-repeat center top;
	background-size: cover;	
	padding-bottom: 3.5rem;
}

.webp{
	.header{
		background-image: url(../images/bg-1.webp);
	}
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.d-grid{
	display: flex;
}

.main-grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}

@supports (display:grid) {
	.d-grid{
		display: grid;
	}
	.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
							 "main"
							 "footer";
		grid-template-rows: auto 1fr auto;
	}


	@media (min-width: 992px){
		.grid-lg-2{
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 30px;
		}	
		.grid-lg-3{
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 30px;
		}		
		.d-lg-grid{
			display: grid !important;
		}
	}
	@media (min-width: 1250px){
		.grid-xl-6{
			grid-template-columns: repeat(6, 1fr)
		}		
	}
}



.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000; transition: .3s}
h1{font-size:3rem; font-weight: 400;}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

p{
	line-height: 2;
	a{
		color: $color4;
		border-bottom: 1px dashed rgba(0,0,0,0);
		&:hover{
			border-bottom-color: $color4;
			color: $color4;
			text-decoration: none;
		}
	}
}

.ucase{
	text-transform: uppercase;
}

.regular{
	font-family: "SegoeUIRegular";	
}

.underline{
	position: relative;
	&:after{
		@extend .before;
		border-bottom: 2px solid $color4;
		left: 0;
		bottom: -10px;
		width: 100%;
	}
}

strong,
.bold{
	font-weight: normal;
	font-family: "SegoeUIBold";
}
em, i, 
.italic{
	font-style: normal;
	font-family: "SegoeUIItalic";
}

strong em,
em strong
{
	font-weight: normal;
	font-family: "SegoeUIBoldItalic";
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {

}

.d-center{
	margin-left: auto;
	margin-right: auto;
}


.btn{
	align-items: center;
	border-radius: 46px;
	display: flex;
	font-size: 1.5rem;
	height: 46px;
	justify-content: center;
	margin-top: 2.5rem;
	width: 190px;

	&:hover{
		color: $color2;
		text-decoration: none;
	}

	&-white{
		color: $color6;
		border: 1px solid;
	}

	&-gray{
		background-color: $color5;
		color: $color2;
	}
	&-hover{
		&-orange{
			&:hover{
				background-color: $color4;
			}
		}
	}
}


/* =header
---------------------------*/
.header{
	padding-top: 5rem;
	.tel{
		font-size: 3rem;
	}
}

.btn-icon{
	background-color: transparent;
	border: none;
	cursor: pointer;
	filter: grayscale(1) brightness(5) invert(1);
	transition: filter .3s;
	&:hover{
		filter: none;
	}
}
.btn-search{
	@include sprite($icon-search)
}

.btn-str{
	background: none;
	border: none;
	border-bottom:1px dashed $color4;
	cursor: pointer;
	padding: 0;
	&:hover{
		border-bottom-color: rgba(0,0,0,0);
	}
}

.btn-order-callback{
	color: $color4;
}

/* =/header
---------------------------*/



/* =navigation
---------------------------*/
.navmenu{
	margin-top: 4rem;
	.nav{
		display: flex;
		justify-content: center;
		font-size: 1.6rem;
		li{
			margin: 0 .6rem;
		}
		a{
			border-radius: 4rem;
			padding: 1rem 2rem;
			&:hover{
				background-color: $color4;
				color: $color2;
				text-decoration: none;
			}
		}
	}
}
/* =/navigation
---------------------------*/


/* =main
---------------------------*/

.main{
	aside{
	}
}


.tab-content {
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}



.center-block{
	margin-left: auto;
	margin-right: auto;
}

