@font-face {
	font-family: 'Avanti';
	src: local('Avanti'),
		 url('/template/fonts/Avanti/Avanti.woff2') format('woff2'),
		 url('/template/fonts/Avanti/Avanti.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avanti';
	src: local('Avanti Bold'), local('AvantiBold'),
		 url('/template/fonts/AvantiBold/AvantiBold.woff2') format('woff2'),
		 url('/template/fonts/AvantiBold/AvantiBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}



@font-face {
	font-family: 'als_rublregular';
	src: url('../fonts/rouble.woff2') format('woff2'),
		url('../fonts/rouble.woff') format('woff'),
		url('../fonts/rouble.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.rur{
	font-family: als_rublregular;
	font-style: normal;
}