.homeslider{
	background: url(../images/mainslide-bg.jpg) no-repeat center top;
	background-size: cover;
	font-size: 4.8rem;
	font-weight: 500;
	min-height: 633px;
	.slick-arrow{
		filter: grayscale(1) brightness(5) invert(1);
		opacity: 0;
		transition: .3s
	}

	.slick-prev{
		transform: none;
	}

	.pic{
		margin: 4rem 0 6rem;
	}
}

.webp{
	.homeslider{
		background-image: url(../images/mainslide-bg.webp);
	}
}

#home-carousel{
	&:hover{
		.slick-arrow{
			opacity: 1;
		}
	}
	.slick-slide img{
		max-width: 100%;
	}
}

.orange{
	color: $color4;
}

.intro{
	margin-top: 5rem;
	padding-top: 3rem;
	.title{
		margin-bottom: 4rem;
	}

	img{
		max-width: 100%
	}
}


.line{
	border-top: 1px solid $color8;
	left: 50%;
	margin-left: -120px;
	width: 240px;
}


.topline{
	position: relative;
	padding-top: 2rem;
	&:before{
		@extend .before;
		border-top: 1px solid $color8;
		left: 50%;
		margin-left: -120px;
		top: 0;		
		width: 240px;
	}
}

.homepage{
	.goods{
		margin-top: 5rem;
		.container{
			position: relative;
			&:before{
				@extend .before;
				@extend .line;
				top: -30px;
			}
		}
	}

	.wrapper-more{
		margin-top: 6.5rem;
		position: relative;
		&:before{
			@extend .before;
			@extend .line;
			top: -30px;
		}
		.btn{
			margin-top: 0;
		}
	}
}

.goods{
	.nav{
		margin-top: 3.5rem;
		li{
			margin: 0 1.7rem
		}
		.btn{
			margin-top: 0;
		}
		.btn.active{
			background-color: $color4;
			color: $color2;
			border-color: $color2;
		}
	}

	.tab-content{
		margin-top: 3rem;
	}

	.d-grid{
		grid-row-gap: 40px;
		grid-column-gap: 40px;

	}

	.product{
		&__item{
			position: relative;
			max-width: 272px;
			.btn{
				font-size: 1.4rem;
				height: 40px;
				width: 110px;
			}

			.labels{
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

			.label{
				align-items: center;
				background-color: $color4;
				border-radius: 2rem 2rem 2rem 0;
				color: $color2;
				cursor: default;
				display: flex;
				height: 40px;
				justify-content: center;
				width: 120px;
				position: absolute;
				&:nth-child(2){
					border-radius: 2rem 2rem 0 2rem;
					right: 0;
					left: auto;
				}
			}
		}
		&__shortdesc{
			background-color: $color4;
			align-items: center;
			bottom: 0;
			color: $color2;
			display: flex;
			justify-content: center;
			left: 0;
			opacity: 0;
			padding: 1.5rem;
			position: absolute;
			right: 0;
			top: 0;
			transition: opacity .3s;
			z-index: 999;
		}
		&__pic{
			align-items: center;
			background-color: #f7f6f2;
			display: flex;
			height: 272px;
			justify-content: center;
			max-width: 272px;
			position: relative;
			&:hover{
				.product__shortdesc{
					opacity: 1;
				}
			}
		}
		&__title{
			font-size: 1.6rem;
			margin: 1.8rem 0;
			text-align: center;
			text-transform: uppercase;
		}

		&__price{
			color: $color4;
			font-size: 3rem;
			line-height: 1;
			text-align: center;
			span{
				color: $color3;
				font-size: 1.8rem;
			}
		}
	}
}

.radius-2{
	border-radius: 2rem 2rem 0 0
}


.groups{
	background-color: $color7;
	margin-top: 3.8rem;
	padding: 5rem 0;
	position: relative;
}


#blog-carousel,
#groups-carousel,
#producers-carousel
{
	display: flex;
	&.slick-initialized{
		display: block;
	}
}

#groups-carousel{
	margin-top: 3.5rem;
	position: relative;
	z-index: 2;

	.slick-current{
		.group__pic{
			&:before{
				background-color: $color4;
			}
			&:after{
				height: 103px;
				left: 8px;
				top: 8px;
				width: 103px;
			}
		}
	}

	.group{
		&__pic{
			align-items: center;
			display: flex;
			height: 11.5rem;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			width: 11rem;
			z-index: 2;

			img{
				display: block;
				margin-left: 4px;
				margin-top: 4px;
				max-width: 80px;
			}
			&:before,
			&:after{
				@extend .before;
				border-radius: 50%;
				height: 112px;
				width: 112px;
				z-index: -1;		
			}

			&:after{
				background-color: $color2;
				left: 0;
				top: 0;
			}

			&:before{
				background-color: #efefec;
				left: 5px;
				top: 5px;
				transition: background-color .3s;
			}
		}
	}

	a{
		font-size: 1.5rem;
		text-align: center;
		&:hover{
			color: $color4;
			text-decoration: none;
			.group__pic{
				&:before{
					background-color: $color4;
				}
				&:after{
					height: 103px;
					left: 8px;
					top: 8px;
					width: 103px;
				}
			}
		}
	}
	p{
		margin-top: 1rem;
		padding-left: .8rem;
	}

}
.slick-dots{
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	li{
		margin: 0 .7rem;
		&.slick-active{
			button{
				background-color: $color4;
			}
		}
	}
	button{
		background-color: #808080;
		border-radius: 50%;
		border: none;
		cursor: pointer;
		display: block;
		height: 10px;
		text-indent: -999em;
		padding: 0;
		width: 10px;
		transition: background-color .3s;
		&:hover{
			background-color: #000;
		}
	}
}

#groups-carousel2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	.wrapper{
		height: 380px;
	}
	.slider{
		&-left,
		&-right{
			// position: absolute;
			z-index: 10;
		}
		&-left{
			float: left;
			left: 0;
		}
		&-right{
			float: right;
			right: 0;
		}
	}
}


// aboutus
.aboutus{
	padding: 3rem 0;
	#aboutus-carousel{
		margin-top: 3.5rem;
	}
}

.quote{
	&:before,
	&:after{
		@extend .before;
		background: url(../images/quote.png) no-repeat left top;
		font-size: 15rem;
		height: 40px;
		left: 82px;
		line-height: 1;
		top: 85px;
		width: 51px;	
	}

	&:after{
		background-position: left bottom;
		opacity: 0;
		transition: opacity .3s;
	}
}

.review{
	&__link{
		display: block;
		position: relative;
		width: 98%;
		&:hover{
			color: $color1;
			text-decoration: none;
			.review__text{
				&:after{
					opacity: 1;
				}
			}
		}
	}
	&__meta{
		min-height: 5.5rem;
		padding-left: 185px;
		padding-top: .9rem;
	}
	&__name{
		font-weight: bold;
	}
	&__pic{
		left: 48px;
		position: absolute;
		top: 0;
		z-index: 10;
		img{
			border: 3px solid $color2;
			border-radius: 1.5rem;
			display: block;
		}
	}
	&__text{
		background-color: #f7f6f2;
		border-radius: 1.5rem;
		height: 15rem;
		padding: 4rem 1.8rem 2rem 17.8rem;
		position: relative;
		@extend .quote;
	}
}
// =/aboutus


.producers{
	margin-top: 4rem;
	padding-bottom: 3rem;
	h1{
		padding-top: 1rem;
	}
}

#producers-carousel{
	margin-top: 4.5rem;
	.slick-slide{
		text-align: center;
	}
	a{
		align-items: center;
		border: 2px solid rgba(0,0,0,0);
		display: inline-flex;
		height: 100px;
		justify-content: center;
		border-radius: 1.8rem;
		padding: 0 1.5rem;
		&:hover{
			border-color: $color4
		}
	}
}