.brand-title{
	font-weight: bold;
	font-size: 1.6rem;
}

.page-brand,
.page-brand-cat
{
	h1{
		line-height: 1.8;
		padding: 1.6rem 0;
	}
	.main{
		padding-left: 2rem;
		.visual{

		}
	}

	div.pagination{
		margin: 2.5rem 0;
		ul{
			margin: 0;
		}
	}
}

.cat-submenu{
	margin: 3rem 0 4rem;
	ul{
		display: flex;
		li{
			margin-right: 2rem;
			&:last-child{
				margin-right: 0;
			}
			a{
				display: block;
				border: 1px solid $color11;
				height: 3.5rem;
				padding: 0 1.2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				&:hover{
					border-color: $color4;
					color: $color4;
					text-decoration: none;
				}
			}
		}
	}
}


.panel{
	padding-top: 1.7rem;
	padding-bottom: 1.7rem;
	margin-top: 0;
	.view{
		&-btn{
			display: block;
			margin-right: 2rem;
			filter: grayscale(1) brightness(3) invert(1);
			&.current,
			&:hover{
				filter: none;
			}
		}
	}
	.show{
		margin-left: 1.8rem;
	}
}


.page-brand-cat{ 
	div.goods-brand{
		margin-top: 0;
	}

	.cat-submenu{
		margin: 3rem 0 2.7rem;
	}

	.goods{
		position: relative;
		z-index: 1;
	}
}


.goods{
	.list{
		display: block !important;
		.product{
			&__item{
				display: flex;
				max-width: 100%;
				margin-bottom: 4.2rem;
				.btn{
					margin-left: 0;
				}
			}
			&__pic{
				flex-shrink: 0;
				width: 268px;
				.product__shortdesc{
					display: none !important;
				}
			}
			&__desc{
				padding-left: 2.4rem;
				.product__shortdesc{
					background: none;
					border-top: 2px solid #eee;
					color: $color3;
					opacity: 1;
					padding: 2rem 0;
					position: static;
				}
			}
			&__title{
				text-align: left;
			}
			&__price{
				text-align: left;
			}		

		}
	}
}