.brand-title{
	font-weight: bold;
	font-size: 1.6rem;
}

.page-brand,
.page-brand-cat
{
	h1{
		line-height: 1.8;
		padding: 1.7rem 0;
	}
	.main{
		padding-left: 2rem;
		.visual{

		}
	}

	div.pagination{
		margin: 2.5rem 0;
		ul{
			margin: 0;
		}
	}
}

.cat-submenu{
	margin: 3rem 0 4rem;
	ul{
		display: flex;
		li{
			margin-right: 2rem;
			&:last-child{
				margin-right: 0;
			}
			a{
				display: block;
				border: 1px solid $color11;
				height: 3.5rem;
				padding: 0 1.2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				&:hover{
					border-color: $color4;
					color: $color4;
					text-decoration: none;
				}
			}
		}
	}
}


.panel{
	padding-top: 1.7rem;
	.view{
		a{
			display: block;
			margin-right: 2rem;
			filter: grayscale(1) brightness(3) invert(1);
			&.current,
			&:hover{
				filter: none;
			}
		}
	}
	.show{
		margin-left: 1.8rem;
	}
}


.page-brand-cat{ 
	div.goods-brand{
		margin-top: 1rem;
	}

	.cat-submenu{
		margin: 3rem 0 2.7rem;
	}
}