@media (max-width: 1700px){
	.footer .shadow-right:before{
		right: 0;
		left: auto;
	}
}


@media (max-width: 1399px){
	.footer{
		.column-social .wrapper{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		.social{
			a{
				margin-right: .5rem;
			}
		}
	}
}


@media (max-width: 1250px){
	.header-scrolled{
		.navmenu .nav>li>a{
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.folder:hover .subnav{
			left: -280px;
		}
	}

	.footer{
		.social{
			flex-wrap: wrap;
		}
	}
}


@media (max-width: 1199px){
	.navmenu .subnav{
		left: 5%;
		width: 90%;
		.wrapper{
			width: 100%;
		}

		ul li{
			width: 20%;
		}
	}


	.header-scrolled{
		.navmenu .subnav .wrapper{
			width: 900px;
		}
		.folder:hover{
			.subnav{
			    left: 50%;
			    margin-left: -450px;
			}
		}
	}



	.footer .column .wrapper{
		padding: 0 1.5rem;
	}


	// callback
	#callback{
		.modal__body{
			width: 90%;
		}
	}

	.modal-dialog .title{
		font-size: 2.8rem;
	}
}


@media (max-width: 1100px){
	.header-scrolled{
		.folder:hover{
			.subnav{
			    margin-left: -520px;
			}
		}
	}
}

@media (max-width: 991px){
	.header-scrolled{
		.logo{
			width: 100px;
		}
		.container{
			width: 100%;
			max-width: 98%;
		}
	}

	.header-scrolled{
		.folder:hover{
			.subnav{
			    margin-left: -490px;
			}
		}
	}

	.header{
		.logo{
			position: relative;
			left: -45px;
		}
	}


	.navmenu .subnav{
		ul li{
			width: 25%;
		}
	}

	.footer{
		&__contacts{
			margin-bottom: 2.5rem;
		}
		.copyright{
			text-align: center;
		}
		.shadow-right:before{
			display: none;
		}
	}

	.creators-wrapper{
		position: static;
		a{
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media (max-width: 950px){
	.header-scrolled{
		display: none !important;
	}
}


@media (max-width: 930px){
	.navmenu .nav>li>a{
		padding-left: 1rem;
		padding-right: 1rem;
	}
}



@media (max-width: 900px){
	.header-scrolled{
		.logo{
			width: 70px;
		}
		.container{
			width: 100%;
			max-width: 98%;
		}
	}

}


@media (max-width: 850px){
	.navmenu .subnav{
		ul li{
			width: 33%;
		}
	}
}

@media (max-width: 790px){
	.footer{
		.column-social{
			margin-top: 2rem;
			.title{
				text-align: center;
			}
			.wrapper{
				border-left: none;
			}
		}
		.social{
			justify-content: center
		}

		&__contacts{
			text-align: center;
		}
	}
}


@media (max-width: 768px){
	.main-grid{
		display: block !important;
	}

	.pagination{
		justify-content: center !important
	}
}

@media (max-width: 767px){
	.header{
		.sisea-search-form{
			display: block;
			position: static;
		}
		.logo{
			position: static;
		}
	}
	.btn-search{
		display: none;
	}


	.footer{
		text-align: center;
		.column .wrapper{
			border-left: none;
			padding: 0;
		}
		.copyright{
			padding-left: 0;
			padding-right: 0;
		}

		.social{
			justify-content: center;
		}
	}
}

@media (max-width: 550px){
	h1{
		font-size: 2.8rem;
	}

	.modal-dialog .title{
		font-size: 2.5rem;
	}

	.header .sisea-search-form{
		padding-top: .5rem;
		padding-bottom: .5rem;
		.form-control{
			font-size: 1.5rem;
		}
	}

	.footer .shadow:before{
		display: none;
	}

	.breadcrumbs{
		margin: 2rem 0;
	}
	main,
	.content .text{
		text-align: justify;
	}


	.share{
		li{
			margin-bottom: .5rem !important;
		}
	}
}


@media (max-width: 400px){
	.header, .header-scrolled{
		.sisea-search-form .form-control{
			width: 20rem;	
		}
	}
}
