@media (max-width: 1380px){
	.review__text{
		height: 18rem;
	}
}


@media (max-width: 1300px){
	#groups-carousel{
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
}


@media (max-width: 1250px){
	.review{
		&__pic{
			left: 20px;
		}
		&__text{
			height: 18rem;
			padding: 2rem 1.8rem 2rem 15rem;
			&:before{
				left: 50px;
			}
			&:after{
				left: 52px;
			}
		}
		&__meta{
			padding-left: 15rem;
		}
	}


	.card-details{
		.media {
			width: 380px;
		}
		.mainpic{
			&.nophoto,
			&-link{
				width: 380px;
				height: 380px;
				&:before{
					height: 384px;
					width: 384px;
				}
			}
		}

		#product-carousel{
			width: 350px;
		}
	}
}


@media (max-width: 1199px){
}


@media (max-width: 991px){
	#blog-carousel{
		.item-news{
			width: 340px;
		}
	}
	.review{
		&__text{
			height: auto;
			min-height: 15rem;
		}
	}

	.homeslider{
		font-size: 3.6rem;
		min-height: auto;
		padding-bottom: 2rem;
	}


	.btn{
		width: 160px;
	}

	.panel{
		.view{
			display: none !important;
		}
	}
	.goods{
		.nav li{
			margin: 0 .5rem;
			.btn{
				width: 150px;
			}
		}
		.product{
			&__item{
				margin-left: auto;
				margin-right: auto;
				width: 270px;
				margin-bottom: 4.2rem;
			}
			&__desc{
				.product__shortdesc{
					background: none;
					border-top: 2px solid #eee;
					color: $color3;
					opacity: 1;
					padding: 2rem 0;
					position: static;
					text-align: center;
				}
			}
		}

		// view list

		.list{
			.product{
				&__item{
					display: block;
					.btn{
						margin-left: auto;
						margin-right: auto;
					}
				}
				&__title,
				&__desc,
				&__price{
					padding-left: 0;
					text-align: center;
				}

			}
		}
	}


	.page-brand{
		.goods{
			&-wrapper{
				display: flex;
				flex-wrap: wrap;
			}
			.product__item{
				margin-bottom: 3rem;
				width: 200px;
				img{
					width: 75%;
				}

				.label{
					font-size: 1.2rem;
					width: 45%;
				}
			}
		}
	}

	.cat-submenu ul{
		flex-wrap: wrap;
		li{
			margin-bottom: 1rem;
			width: 45%;
		}
	}

	.panel{
		display: block !important;
		.view{
			margin-bottom: 2rem;
		}
		.right{
			display: block !important;
			.show{
				margin-left: 0;
			}
			span{
				display: block;
				width: 90px;
			}
		}
	}


	// card details
	.card-details{
		.params{
			margin-top: 2.5rem;
		}
	}


	.comment-form .btn{
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}


	.card-details .params .product__submit{
		display: block;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}


@media (max-width: 800px){
	.item-news{
		.more{
			.btn{
				margin-top: 1.5rem;
				margin-bottom: .5rem;
			}
		}
	}
}


@media (max-width: 768px){
	#groups-carousel{
		width: 100%;
	}
	#groups-carousel2{
		display: none !important;
	}	

	.page-brand{
		.goods{
			&-wrapper{
				justify-content: space-between;
			}
			.product__item{
				margin-left: 0;
				margin-right: 0;
				width: 45%;
			}
		}
	}

	.panel{
		.sort{
			margin-bottom: 1rem;
		}
	}

	.item-news{
		min-height: 200px;
		.more{
			.btn{
				margin-top: 2.5rem;
				margin-bottom: 1rem;
			}
		}
	}
}


@media (max-width: 767px){
	.homepage{
		.blog .container{
			max-width: 100%;
			width: 100% !important;
		}
	}

	.goods .nav li{
		margin-bottom: 1.5rem;
	}


	.intro,
	.goods p
	{
		text-align: justify;
	}
	.intro{
		.title{
			text-align: center;
		}
		.btn{
			margin-left: auto;
			margin-right: auto;
		}
	}


	.panel{
		.right{
			display: flex !important;
			.show{
				margin-left: 1.5rem;
			}
			span{
				display: block;
				width: auto;				
			}
		}
	}


	// card details
	.card-details{
		.media{
			margin-left: auto;
			margin-right: auto;
		}

		.description{
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-top: 4rem;
		}
	}

	.page-card{
		.nav-tabs{
			li{
				padding-left: 0;
			}
			.btn{
				height: 40px;
				width: 140px;
			}
		}
	}

	.page-brand-cat{
		.main{
			padding-left: 0;
		}
	}
}


@media (max-width: 550px){
	.panel{
		display: block !important;
		.view{
			margin-bottom: 2rem;
		}
		.right{
			display: block !important;
			.show{
				margin-left: 0;
			}
			span{
				display: block;
				width: 90px;				
			}
		}
	}

	.cat-submenu ul li{
		margin-left: auto;
		margin-right: auto !important;
		width: 80%;
	}

	.panel{
		.right{
			.show,
			.sort{
				justify-content: center;
			}
			.sort{
				margin-bottom: .5rem;
			}
		}
	}
}



@media (max-width: 480px){
	.page-brand,
	.page-cat{
		.main{
			padding-left: 0;
		}
		.goods .product__item{
			margin-left: auto;
			margin-right: auto;
			width: 250px;
			img{
				width: auto;
				max-width: 250px
			}

			.label{
				font-size: 1.5rem;
			}
		}
	}
}


@media (max-width: 450px){
	.homeslider{
		font-size: 2.5rem;
	}

	#blog-carousel{
		margin-left: -15px;
		margin-right: -15px;
		.item-news{
			width: 270px;
		}
	}


	.review{
		&__meta{
			padding-top: 3rem;
		}
		&__text{
			margin-top: 5rem;
			min-height: 0;
			padding-bottom: 1rem;
			padding-left: 1.5rem;
			padding-top: 1rem;
			&:before,
			&:after{
				display: none;
			}
		}
	}

	.item-news{
		background-image: none !important;
		width: 100%;
		padding-right: 1.5rem;
	}

	.page-card{
		.nav-tabs{
			display: block !important;
			li a{
				margin-left: auto;
				margin-right: auto;
			}
			.btn{
				width: 200px;
			}
		}

		.reviews__list .reviews__item{
			padding-left: 2.5rem;
			&:before{
				display: none;
			}
		}

		.review{
			&__text{
				margin-top: 1rem;
			}
		}
	}

	.similar-products{
		margin-left: -15px;
		margin-right: -15px;
	}
	
}

@media (max-width: 400px){
	.card-details{
		.media {
			width: 100%;
		}


		.mainpic{
			&.nophoto,
			&-link{
				align-items: center;
				display: flex;
				height: 310px;
				justify-content: center;
				width: 310px;
				text-align: center;
				margin: 0 auto;
				img{
					margin: auto;
					max-width: 85%;
				}				

				&:before{
					display: none !important;
				}
			}

		}

		#product-carousel{
			width: 300px;
		}
	}
}


@media (max-width: 350px){
	.goods .nav{
		display: block !important;
		li .btn{
			width: 100%;
		}
	}

	#gallery-carousel{
		margin-left: -15px;
		margin-right: -15px;
	}

	.feedback{
		margin-top: 3rem;
	}

	.page-brand,
	.page-brand-cat{
		.main{
			padding-left: 0;
		}
	}

	.card-details{
		.description{
			padding-left: 0;
		}
		#product-carousel{
			width: 270px;
		}

		.mainpic{
			&-link,
			&.nophoto{
				max-width: 100%;
				width: 100%;
				height: 280px;
			}
		}
	}

	.similar-products{
		.goods .product__pic{
			max-width: 250px;
			height: 250px;
		}
	}
}


