// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-cart-name: 'icon-cart';
$icon-cart-x: 49px;
$icon-cart-y: 0px;
$icon-cart-offset-x: -49px;
$icon-cart-offset-y: 0px;
$icon-cart-width: 22px;
$icon-cart-height: 21px;
$icon-cart-total-width: 71px;
$icon-cart-total-height: 45px;
$icon-cart-image: '../images/sprite.png';
$icon-cart: (49px, 0px, -49px, 0px, 22px, 21px, 71px, 45px, '../images/sprite.png', 'icon-cart', );
$icon-close-name: 'icon-close';
$icon-close-x: 49px;
$icon-close-y: 21px;
$icon-close-offset-x: -49px;
$icon-close-offset-y: -21px;
$icon-close-width: 20px;
$icon-close-height: 19px;
$icon-close-total-width: 71px;
$icon-close-total-height: 45px;
$icon-close-image: '../images/sprite.png';
$icon-close: (49px, 21px, -49px, -21px, 20px, 19px, 71px, 45px, '../images/sprite.png', 'icon-close', );
$icon-quote-sm-name: 'icon-quote-sm';
$icon-quote-sm-x: 0px;
$icon-quote-sm-y: 25px;
$icon-quote-sm-offset-x: 0px;
$icon-quote-sm-offset-y: -25px;
$icon-quote-sm-width: 25px;
$icon-quote-sm-height: 20px;
$icon-quote-sm-total-width: 71px;
$icon-quote-sm-total-height: 45px;
$icon-quote-sm-image: '../images/sprite.png';
$icon-quote-sm: (0px, 25px, 0px, -25px, 25px, 20px, 71px, 45px, '../images/sprite.png', 'icon-quote-sm', );
$icon-search-name: 'icon-search';
$icon-search-x: 25px;
$icon-search-y: 25px;
$icon-search-offset-x: -25px;
$icon-search-offset-y: -25px;
$icon-search-width: 20px;
$icon-search-height: 19px;
$icon-search-total-width: 71px;
$icon-search-total-height: 45px;
$icon-search-image: '../images/sprite.png';
$icon-search: (25px, 25px, -25px, -25px, 20px, 19px, 71px, 45px, '../images/sprite.png', 'icon-search', );
$icon-zoom-name: 'icon-zoom';
$icon-zoom-x: 0px;
$icon-zoom-y: 0px;
$icon-zoom-offset-x: 0px;
$icon-zoom-offset-y: 0px;
$icon-zoom-width: 49px;
$icon-zoom-height: 25px;
$icon-zoom-total-width: 71px;
$icon-zoom-total-height: 45px;
$icon-zoom-image: '../images/sprite.png';
$icon-zoom: (0px, 0px, 0px, 0px, 49px, 25px, 71px, 45px, '../images/sprite.png', 'icon-zoom', );
$spritesheet-width: 71px;
$spritesheet-height: 45px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-cart, $icon-close, $icon-quote-sm, $icon-search, $icon-zoom, );
$spritesheet: (71px, 45px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
